html {
	background-color: #fff;
}
body {
	box-sizing: border-box;
	width: 960px;
	min-height: 500px;
	margin: 10px auto;
	padding: 10px;
	font-size: 18px;
	font-weight: 900;
}
button {
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffb303;
	border-radius: 5px;
}
button:visited,
button:focus,
button:active {
  outline: none;
}
.wrapper {
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
img {
	position: relative;
	width: 100px;
	height: 100px;
}